# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Thư mục môi trường ảo
venv/
env/
.env/
.venv/
pipenv.lock
Pipfile.lock

# Dữ liệu lớn và mô hình AI
data/
models/
*.h5
*.pkl
*.pt
*.ckpt
*.zip
*.tar
*.tar.gz
*.json

# Thư mục cache
__pycache__/
.cache/
*.cache

# Streamlit
.streamlit/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# Các file khác
*.log
*.bak
*.swp

# Docker (nếu có)
docker-compose.override.yml
Dockerfile*
.docker/
